* {
  margin: 0;
  padding: 0;
}
@keyframes textnimay {
  from {color: white;}
  to {color: #264040;}
}
.project-tile {
   display: flex;
    flex-direction: row;
}
.btn-primary {
   background-color: #464334;
   border: none;
   color: white;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 15px;
   border-radius: 10px;
   box-shadow: 0 2px #999;
   cursor: pointer;
} 
.btn-primary:hover{
  font-size: 2rem;
transform: translateY(5px);
box-shadow: 2px 2px #999;
}
.btn-primary:active {
  background-color: #264040;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.card {
  border: 2px solid #dadada;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 35%;
  position: relative;
  left: 15%;
}
.card:hover {
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.card .container {
  height: 120px;
}

.card p {
  font-size: 2rem;
  margin: 2px 0;
  font-style: italic;
  color: white;
  padding: 10px;
}
.card img{
  height: 120%;
  width: 120%;
max-height: 70%;
max-width: 400px;
padding: 1rem;
}

html {
  box-sizing: border-box;
  font-size: 50%;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
.image {
  display: block;
  max-width: 100%;
  max-height: 90%;
  padding-top: 30;
  position: absolute;
  top: 10%;
  left: 10%;
  object-fit: fill;
}
/* ----------------------------- */
/* -----------nav formatting---------------- */
nav a {
  text-decoration: none;
  color: black;
  margin: 0.5rem 3rem;
  display: block;
  font-size: 2.0rem;
  font-family: "Audiowide", sans-serif;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: fixed;
    width: 100%;
    background-color: #eff5f5;
    z-index: 1
  }
  .nav-list {
  display: flex;
  justify-content: space-around;
}
.nav-list a:hover {
  color: #805533;

}
/* ---------end of nav------------------ */
/* ----------welcome section formatting------------------- */
.welcome-section {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
}
.introduction{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 2.5rem;
  padding: 2rem;
  color: white;
}
.introduction > h1 {
  font-family: "Audiowide", sans-serif;
  font-weight: 900px;
  font-size: 50px;
}
.introduction > p {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: 60px;
  font-style: italic;
  padding-top: 10px;
}
.introduction:hover{
  animation-name: textnimay;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
/* -------end of welcome section----------------- */
/* ---------projects formatting-------------------- */
.projects {
  text-align: center;
  padding: 1rem 1rem;
  background-color: #1d3030;
  z-index: 1;
  height: 600px;
}
.projects-header{
  font-size: 4rem;
  padding: 3rem;
  font-family: "Trirong", serif;
  color: white;
}
/* --------end of projects------------------ */
/* ---------contacts formatting----------------- */
.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 350px;
  background-color: 	#2F4F4F ;
  border-top: 3px solid #ffffff;
}
.contact-header{
  font-size: 4rem;
  font-family: "Trirong", serif;
  color: white;
  padding-bottom: 2rem;
}
.contact > p{
  font-family: monospace;
  font-size: 2rem;
  font-weight: 3rem;
  font-style: italic;
  color: white;
  padding-bottom: 4rem;
}
.contact > div {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.contact > div > a{
text-decoration: none;
color: white;
font-size: 2.5rem;
padding: 0.7rem;
text-shadow: 5px 5px 5px #1f1f1f;
transition: transform 0.3s ease-out;
}
.contact > div > a:hover{
font-size: 3rem;
transform: translateY(-7px)
} 
.contact > div > a:active{
  color: black;
}
/* --------end of contacts------------------ */
/* ---------footer formatting----------------- */
.footer {
    background-color: #eff5f5;
  padding: 2rem;
  border-top: 3px solid #ffffff;
  height: 7%;
}
.footer p{
  font-size: 1.5rem;
  font-weight: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}